<%- include('partials/header') %>


<div class="jumbotron" style="background-color: burlywood; color:white;">
  <div class="container" >
    <i class="fas fa-key fa-6x"></i>
    <h1>Start spreading happiness</h1>
    <h5>Signed in successfully !</h5>
    <hr>
    <a class="btn btn-light btn-lg" href="/secrets" role="button">Donate</a>
    <a class="btn btn-dark btn-lg" href="/secrets" role="button">Ask</a>

  </div>
</div>

<%- include('partials/footer') %>
