<%- include('partials/header') %>

<div style="width: 100%;" >
  <div class = "jumbotron text-center"  style="background-color: burlywood;">
    <i style = "padding: 10px;"  class="fas fa-key fa-6x"></i>
    <h1  style = "padding: 10px;" class="display-3">Your request has been added. Thank you!</h1>

    
    <% usersWithSecrets.forEach(function(user){ %>
      <p class="secret-text"><%=user.secret%></p>
    
    <% }) %> 
   
    <% usersWithSecrets.forEach(function(user){ %>
      <p class="secret-text"><%=user.contact%></p>
    
    <% }) %> 



    <hr>
    <a style = "padding: 10px;" class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>
    <a style = "padding: 10px;" class="btn btn-dark btn-lg" href="/submit" role="button">Submit a request</a>
  </div>
</div>

<%- include('partials/footer') %>