<%- include('partials/header') %>

<div class="container mt-5">
    <h1 style="color: burlywood;">Register</h1>
  
    <div class="row">
      <div class="col-sm-8">
        <div class="card">
          <div class="card-body">
  
            <!-- Makes POST request to /register route -->
            <form action="/signup" method="POST">
              <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" name="username">
              </div>
              <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" name="password">
              </div>
              <div class="form-group">
                <label for="text">Contact Number</label>
                <input type="text" class="form-control" name="number">
              </div>
              <button style="background-color: burlywood;" type="submit" class="btn btn-dark">Register</button>
            </form>
  
          </div>
        </div>
      </div>
  
      <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
            <a class="btn btn-block btn-social btn-google" href="/auth/google" role="button">
              <i class="fab fa-google"></i>
              Sign Up with Google
            </a>
          </div>
      
        </div>
      </div>
  
    </div>
  </div>
  <%- include('partials/footer') %>